@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans+Arabic&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins&display=swap');

.ibm-plex-sans-arabic-regular {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --text-color: #30698c;
    --blue-color: #85aeca;
    --pink-color: #fdd0d7;
    --white-color: #fff;
    --dark-color: #000814;
    --primary-color: #30698c;
    --secondary-color: #fdd0d7;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--primary-color);
}

/* Navbar styling */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: linear-gradient(to bottom, #85aeca 70%, transparent);

}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: white;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: white;
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {

    color: var(--blue-color);
    background: var(--pink-color);

}

.navbar:where(#menu-close-button, #menu-open-button) {
    display: none;
}

/* Footer Section Styling */

.footer-section {
    padding: 20px 0;
    background: var(--dark-color);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--white-color);
    transition: 0.2s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-l);
}

.footer-section .social-link-list .social-link:hover,
.footer-section .policy-text .policy-link:hover {
    color: var(--secondary-color);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--white-color);
}

.idk {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.idk-logo {
    text-align: right;
    margin-right: 30px;
    /* زيادة هذه القيمة لسحب العنصر أكثر إلى اليسار */
}

.idk-logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.idk-logo p {
    margin: 5px 0 0 0;
    font-size: 0.9rem;
}

/* Responsive media query code for max width 1024px */

@media screen and (max-width: 1024px) {

    .menu-section .menu-list {
        gap: 60px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 3 - 60px);
    }

}

@media (min-width: 901px) {

    #menu-close-button,
    #menu-open-button {
        display: none !important;
    }
}

/* Responsive media query code for max width 900px */

@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    .navbar:where(#menu-close-button, #menu-open-button) {
        display: block;
        font-size: var(--font-size-l);
    }

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        display: block;
        color: var(--white-color);
        font-size: var(--font-size-l);
    }

    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }


    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description),
    .about-section .about-details,
    .contact-section .contact-form {
        max-width: 100%;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }
    .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }
}

/* Responsive media query code for max width 640px */

@media screen and (max-width: 640px) {


    .p-tests-section .slider-wrapper {
        margin: 0 0 30px;
    }

    .p-tests-section .swiper-slide-button {
        display: none;
    }

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
}
#appointments-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    margin: 0 auto 30px;
    padding: 0 20px;
    max-width: 800px;
}



.appointment-item {
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.appointment-item p {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #333;
}
.section-title {
    padding-top:100px;
    text-align: center;
    font-size: 1.8rem;
}

html,
body {
    height: 100%;
    margin: 0;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.section-content {
    flex: 1;
}
.appointment-card {
    justify-content: center;
    align-items: center;
  background-color: #e8f5e9;
  border: 2px solid var(--blue-color);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 1rem;
  direction: rtl;
  text-align: right;
  position: relative;
  width: 100%;
}